:root {
  --rojo-claro: #ff5359;
  --celeste: #4dd3ffb3;
  --blanco: #fff;
  --verde-claro: #adff2f;
  --amarillo: #ffff88;
  --negro: #000;
}
body {
  background-color: #222;
  color: #FFF;
}
.fondo-celulares {
  background-image: repeating-linear-gradient(to left, #003d97, #003d97 20%, #611551 20%, #611551 40%, #4f141c 40%, #4f141c 60%, #2c1a05 60%, #2c1a05 80%, #12120e 80%, #12120e 100%);
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}
.App ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
} 
.App li {
  padding: .5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-weight: bolder;
}

/*? Cargando Animación*/
#cargando {
  display: block;
  margin: 20vh auto;
}

/*? Video Fondo*/
#video-fondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: .2;
}

/*? Páginas */
.contenedor-cambiarPag{
  background-color: #222;
  width: max-content;
  padding: .5rem;
  display: flex;
  gap: .2rem;
  border-radius: .5rem;
  border: 2px solid var(--celeste);
  margin: 1rem 0 2rem 0;
}
.cambiarPag-btn {
  font-size: 2.5rem;
  color: var(--celeste);
  border-radius: .5rem;
  transition-duration: .1s;
}
.cambiarPag-btn:hover {
  cursor: pointer;
  background-color: #7aafff;
  transform: scale(1.03);
  color: var(--blanco);
}

/*? Botón Limpiar Input */
.btn-limpiarInput {
font-size: 2.5rem;
height: 2.7rem;
color: rgb(255, 84, 84);
}
.btn-limpiarInput:hover {
  color: rgb(255, 162, 162);
  cursor: pointer;
}

/*? Form */
.App form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-bottom: 30px;
}
.hijo-form{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.App form input {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0 .5rem;
  outline: none;
  width: 100%;
  background-color: #d7d7d7;
} 
.contenedor-form {
  background-color: rgba(00, 00, 00, .6);
  border-radius: 1rem;
  padding: 3rem; 
  display: flex; 
  flex-flow: column nowrap; 
  align-items: center;
  justify-content: center;
}
.contenedor-form h1 span:first-of-type {
  color:  var(--celeste);
}
.contenedor-form h1 span:last-of-type {
  color: var(--amarillo);
}
.contenedor-btn-form{
  transition-duration: .1s;
  background-color: rgba(00, 00, 00, .6);
  border-radius: 100%;
  height: 2.7rem;
}
.contenedor-btn-form:hover {
  cursor: pointer;
}
.lupa-icono {
  font-size: 2.5rem;
  padding: 3px;
  transition-duration: .1s;
}

.lupa-icono-animacion {
  animation-name: giroLupa;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes giroLupa {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(8px, 0);
  }
  50% {
    transform: translate(0, 8px);
  }
  75% {
    transform: translate(-8px, 0);
  }
  100% {
    transform: translate(0);
  }
}




.input-form-red::placeholder {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.img-morty {
  width: auto;
  height: 3rem;
  transition-duration: .3s;
}
.img-morty:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.img-morty-animacion {
  animation-name: giroMorty;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes giroMorty {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
  
}


/*? Buscar Personaje Texto */
.cuadroDeBusqueda {
  text-transform: uppercase;
  font-family:'Trebuchet MS', sans-serif;
  text-align: center;
}

/*? Coincidencias */
.coincidencia {
  text-transform: uppercase;
  font-family:'Trebuchet MS', sans-serif;
  text-align: center;
}

/*? Contenedor Personajes*/
.ul-personajes {
  gap: 5rem;
}
.contenedor-personaje {
  text-align: center;
  background-color: #222;
  border-radius: 1rem;
  outline: 2px solid rgb(255, 255, 255);
  transition-duration: .1s;
}
.contenedor-personaje:hover {
cursor: pointer;
transform: scale(1.03);
box-shadow: 0 0 20px rgb(227, 227, 227);
color: gold;
}
.contenedor-personaje .imagen {
  width: 200px;
  height: 200px;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition-duration: .4s;
} 

/*? Carta*/
.contenedor-carta {
  background-color: var(--celeste);
  backdrop-filter: blur(5px);
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 0 3px var(--celeste);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.imagen-carta {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.7);
}
.carta-boton-atras {
  margin-bottom: 2rem;
  font-size: 35px;
  color: var(--celeste);
  background-color: var(--negro);
  border-radius: 100%;
}
.carta-boton-atras:hover {
  cursor: pointer;
  opacity: .9;
  background-color: var(--blanco);
}
.info-personaje {
  color: var(--blanco);
  font-size: 1.2rem;
  text-align: start;
}
.info-nombre {
  font-family:'Lucida Sans', sans-serif;
  background-color: rgba(9, 8, 32, .4);
  color: var(--blanco);
  border-radius: 1rem;
  padding:  1rem;
  text-align: center;
}
.info-personaje h2 span {
  color: var(--amarillo);
}

/*? Botón Mostrar Todos*/
.btn-mostrar-todos {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 30%; 
  height: 2.7rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: .2s;
  margin: 0 10px;
}
.btn-acitvo {
  color: var(--verde-claro);
  outline: 2px solid var(--verde-claro);
}
.btn-acitvo:hover {
  background-color: var(--verde-claro);
  color: #686868;
}
.btn-desacitvo {
  color: var(--rojo-claro);
  outline: 2px solid var(--rojo-claro);
}
.btn-desacitvo:hover {
  background-color: var(--rojo-claro);
  color: var(--blanco);
}

/*? Sin Coincidencias*/
.SinCoincidencias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.SinCoincidencias h2 {
  margin-bottom: 20px;
}
.SinCoincidencias img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/*? Pantallas pequeñas*/
@media only screen and (max-width: 600px) {
  .App form input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .App ul {
    gap: 2rem;
  }
  .imagen {
    width: 100%;
    height: auto;
  }
  .contenedor-carta {
    max-width: 100%;
    padding: 1rem;
  }
  .descripcion-personaje {
    font-size: 14px;
  }
  .ul-personajes {
    padding: 2rem;
  }
}
/*? Pantallas medianas y grandes*/
@media only screen and (min-width: 601px) {
  .imagen {
    width: 200px;
    height: 200px;
  }
  .contenedor-carta {
    max-width: 400px;
    padding: 2rem;
  }
}


